{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}


{% block main %}

<div class="contenedor-login">
  {% if form.errors %}
   <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
   {% if user.is_authenticated %}
     <p>Your account doesn't have access to this page. To proceed,
     please login with an account that has access.</p>
   {% else %}
     <p>Please login to see this page.</p>
   {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
   {% csrf_token %}
   <table>
     {% bootstrap_form form %}

   </table>
   <input type="submit" value="login" class="btn btn-primary" />
   <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>


</div>

{% endblock %}
